<div>
    <form novalidate="true"  ng-submit="addUser()">
        First name: <input type="text" ng-model="newUser.firstName" /><br />
        Last name: <input type="text" ng-model="newUser.lastName" /><br />
        <button type="submit">submit</button><br />
        <button type="button" ng-click="reset()">RESET</button>
    </form>
    <p>{{newUser.firstName + " " + newUser.lastName}}</p>
    <div ng-repeat="user in data">
        {{user.userId}}
        {{user.firstName}}
        {{user.lastName}}
    </div>
</div>